.theme-switch {
    padding-left: 20px;
    width: 90%;
    height: 56px;
    border-radius: 0 16px 16px 0;
    background: var(--bg);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 16px;
}

.theme-switch__label {
    width: 80px;
    height: 40px;
    border-radius: 999px;

    background-color: var(--bg);

    box-shadow: 2px 2px 6px rgba(38, 44, 54, .25) inset;

    display: block;

    position: relative;

    /* transition: .3s ease-in-out; */
}

.theme-switch__circle {
    /* 40% of theme-switch */
    width: 32px;
    height: 32px;
    border-radius: 999px;

    background-color: var(--unit-bg);

    box-shadow: 2px 2px 4px rgba(38, 44, 54, .25), -2px -2px 5px rgba(38, 44, 54, .25) inset;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);

    overflow: hidden;

    /* transition: .3s ease-in-out; */
}

.theme-switch__icon {
    /* 50% of theme-switch__circle */
    width: 22px;
    position: absolute;

    /* transition: .3s ease-in-out; */
}

.theme-switch__icon--sun {
    color: var(--yellow);
    margin-top: 0;
    opacity: 1;

    /* transition: .3s ease-in-out; */
}

.theme-switch__icon--moon {
    margin-top: -150%;
    color: var(--white);
    opacity: 0;

    /* transition: .3s ease-in-out; */
}

.theme-switch__text {
    color: var(--primary-base);
}

.theme-switch__text--dark {
    display: none;
}

#darkmode:checked ~ .theme-switch .theme-switch__label {
    box-shadow: 2px 2px 6px rgba(227, 227, 227, .15) inset;
}

#darkmode:checked ~ .theme-switch .theme-switch__circle {
    left: 100%;
    transform: translate(-110%, -50%);
    box-shadow: 2px 2px 4px rgba(227, 227, 227, .15), -2px -2px 5px rgba(227, 227, 227, .15) inset;
}

#darkmode:checked ~ .theme-switch .theme-switch__icon--sun {
    margin-top: 150%;
    opacity: 0;
}

#darkmode:checked ~ .theme-switch .theme-switch__icon--moon {
    margin-top: 0%;
    opacity: 1;
}

#darkmode:checked ~ .theme-switch .theme-switch__text--dark {
    display: inline;
}

#darkmode:checked ~ .theme-switch .theme-switch__text--light {
    display: none;
}

.theme-switch:active .theme-switch__circle {
    /* 50% of theme switch */
    width: 40px;
}

